/* Centrage du texte dans les cellules */

td {
    text-align: center;
}

/* Centrage du tableau au centre de la page */

.horaire {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    border-collapse: collapse;
}

/* Couleur des cellules où il y a cours en jaune */
.horaire td {
    background-color: #ffff00;
    /* text-transform: uppercase; */
}

/* Couleur des céllules où il n'y a pas de cours en blanc */

#white {
    background-color: #fff;
}

/* Affichage du nom des profs en plus petit et en italique */

.prof {
    font-size: 0.6rem;
    font-style: italic;
}